# logs & slurm outputs
*.out
*.err
*.log

# reports & images
*.html
*.json
*.pdf
*.png

# raw data / big fasta/fastq
*.fa
*.fasta
*.fq
*.fq.gz
*.fastq
*.fastq.gz

# evaluation outputs (heavy)
evaluations/
assemblies/*/busco*/
assemblies/*/quast*/
assemblies/*/merqury*/
assemblies/*/mummer*/

# temp & misc
*.tmp
*.swp
.DS_Store
